body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aquamarine;
}

#number
{
    display: block;
    text-align: center;
    font-size: 12em;
    font-family: serif;
}

#buttons
{
    text-align: center;
}

.b
{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(239, 166, 118);
    cursor: pointer;

}

.b:hover
{
    background-color: rgb(206, 74, 74);
}